<ion-view view-title="登录">
	<ion-nav-buttons side="left">
		<button class="button" ng-click="reg()" type="button">返回</button> 
	</ion-nav-buttons>
	<ion-content>
		<form>
			<div class="list">
				<!--<label class="item item-input">
				    <span class="input-label" >用户名：</span>
				    <input type="text">
			  </label>-->
			  <label class="item item-input">
				    <span class="input-label" style="color: #009689;">用&nbsp;户&nbsp;名：</span>
				   	<i class="icon ion-person" style="margin-left: -53px; color: #009689;"></i>
			    	<input type="password">
			  </label>
			  <label class="item item-input">
				    <span class="input-label col col-25"style="color: #009689;">手&nbsp;机&nbsp;号：</span>
				    <i class="icon ion-iphone" style="margin-left: -10px; color: #009689;"></i>
				    <input type="text" class="col col-75">
				    <button type="button" class="button button-calm button-small" style="margin-right: 10px;">验证码</button>
			  </label>
			  <label class="item item-input">
				    <span class="input-label"style="color: #009689;">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</span>
				    <i class="icon ion-locked" style=" margin-left: -50px;color: #009689; "></i>
				    <input type="text">
			  </label>

			</div>
		</form>
	</ion-content>
</ion-view>